* {
    border: none;
    border-radius: 0px;
    color: #fff;
    font-family: "JetBrainsMono NerdFont","JetBrains Mono";
    letter-spacing: -1px;
}

window#waybar {
    background: linear-gradient(0deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.6) 100%);
    transition: background .2s ease-out;
}

window#waybar.solo {
    /* match #282828 from alacritty */
    background: rgba(40,40,40,0.7);
    /* disable transition when a single window appears*/
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    box-shadow: none;
    border: 0px solid transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background .3s linear;
}

#workspaces button:not(.focused):hover {
    border-top: 2px solid white;
    padding-top: 0px;
}

#workspaces button.focused:only-child:hover {
    font-weight: normal;
}

#workspaces button.focused {
    background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.6) 100%);
    /* once a hovered butten is clicked, the border fades away */
    transition: border 1s linear, padding 1s linear;
}


@keyframes pulse {
  0% {
    background: linear-gradient(0deg, rgba(255,0,0,0.15) 0%, rgba(255,0,0,0.6) 100%);
  }
  100% {
    background: linear-gradient(0deg, rgba(255,0,0,0.15) 0%, rgba(255,0,0,1) 100%);
  }
}

#mode {
    background: linear-gradient(0deg, rgba(255,0,0,0.05) 0%, rgba(255,0,0,0.8) 100%);
    border-top: 2px solid white;
    padding-right: 5px;
    padding-left: 5px;
    animation: pulse 1s infinite alternate;
}


#window, .modules-right * {
    margin-right: 10px;
    margin-left: 10px;
}
